/* Import Spline Sans Mono from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono&display=swap');

/* Set font family and size for all labels and select options */
label, select {
  font-family: 'Spline Sans Mono', monospace;
  font-size: 16px;
}

/* Style the form container */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f2f2f2;
}

/* Style the form rows */
.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

/* Style the labels */
label {
  margin-right: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
}

/* Style the select options */
select {
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

/* Style the select options when hovered */
select:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style the select options when focused */
select:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Style the save button */
#save-button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

/* Style the save button when hovered */
#save-button:hover {
 /* Increase the box shadow when hovered */
box-shadow: 0 4px 8px rgba(0, 123, 255, 0.4);
}

/* Increase the box shadow and scale the button when focused */
#save-button:focus {
outline: none;
box-shadow: 0 4px 8px rgba(0, 123, 255, 0.6);
transform: scale(1.05);
}

/* Decrease the box shadow and scale the button when clicked */
#save-button:active {
box-shadow: none;
transform: scale(0.95);
}

#canvas{
border: 1px solid black;
}
